html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header {
    background: url("images/hladina.jpeg");
    height: 100vh;



}


footer {
    background-color: lightseagreen;
}

header img {
    width: 100px;
    box-sizing: content-box;
    float: left;
}

header h1 {
    text-align: center;
    box-sizing: content-box;

}
header nav {
    float: left;

.clearfix:after {

}



}